body{
    font: 20px Arial, sans-serif
}
.navbar {
    background-color: #9A8C98;
}
#eusou, #cursos, #contatos {
    background-color: #f2e9e4;
    color: #22223B;
}
.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}
.bg-footer{
background-color: #22223B;
padding-top: 10px;
padding-bottom: 10px;
color: #f2e9e4;
}

